:root {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

body {
    margin: inherit;
    display: grid;
    grid-template: 1fr 1fr 3fr 3fr / 1fr 2fr 1fr;
}

.sidebar {
    background-color: rgb(81, 126, 214);
    grid-area: 1 / 1 / 5 / 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.sidebarlist {
    margin: 1vh;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1vh;
    filter:invert();
    align-items: center;
    font-size: 1.5rem;
}

#dashboard {
    font-size: 2rem;
}

.header {
    grid-area: 1 / 2 / 2 / 4;
}

.subheader {
    grid-area: 2 / 2 / 3 / 4;
}

.projects,
.announcements,
.trending {
    background-color: rgb(201, 201, 201);
}

.projects {
    grid-area: 3 / 2 / 5 / 3;
}

.announcements {
    grid-area: 3 / 3 / 4 / 4;
}

.trending {
    grid-area: 4 / 3 / 5 / 4;
}